{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ register_form.as_p }}

    {% if register_form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in register_form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <button type="submit">{% trans "Register" %}</button>
    {% endblock %}